لطفاً برای گرفتن نتیجه مناسب به موارد زیر توجه نمایید:
•	در هنگام ضبط صدای خود از لحن عادی استفاده کنید و از خواندن به صورت آواز بپرهیزید.
•	سعی کنید محیط پیرامون شما بدون سروصدا باشد.
•	کلمات نمایش داده شده را با دقت، شمرده و با صدای بلند بخوانید.
•	برای دریافت نتیجه مطلوب به دلیل شرایط متفاوت صوتی و نوع گوشی میتوانید تست را چند مرتبه انجام دهید تا مشابه‌ترین مشاهیر را به صدای خود بیابید.

انتخاب کردن از میان زمینه‌های زیر ...
